body {
  background: #FFF;
  border: 12px solid blue;
  font: 125%/1.4em Georgia, serif;
}

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}

div.page {
  width: 90%; 
}

article#main {
  width: 64.2708333333%; /* 617px / 960px */
}

div.side {
  width: 35.7291677777%; /* 343px / 960px */
}

section#general, section#archives {
  width: 50%;
}

aside#about, aside#contact {
  float: left;
}

aside#about, aside#contact, section#archives {
  font-size: 0.7em;
  line-height: 1.4em;
}

aside#about h1, aside#contact h1, section#archives h1, ul.posts h1 {
  font-size: 1.14285714em;
}

aside#about h2 {
  font-size: 1.02857143em;
}

ul {
  padding: 0;
}

ul.posts {
  list-style: none;
}

ul.posts h1 {
  font-weight: normal;
}