body {
  padding-top: 10px;
}

img#billMurrayRound {
 width: 75%;
 height: 75%;
}

div#side {
  color: #999;
}

p {
  margin: 0.25em;
}

footer p {
  border-top: 1px solid #e5e5e5;
  color: #e5e5e5;
  margin-top: 2em;
  padding-top: 2em;
  text-align: center;
}